<html data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pico.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="/js/frame.js"></script>
</head>

<body>
    <div class="container">
        <div include-html="/page/frame/header.html"></div>
        <hr />
        <!-- Page -->
        <h1>Template</h1>
        <section>
            <div class="grid">
                <button class="secondary">New</button>
                <button class="secondary outline">Append</button>
                <button class="secondary outline">Edit</button>
                <button class="secondary outline">Test Template</button>
            </div>

            <div>
                <b>New</b> : [Files] + [Source] + [Parameter] ==> [Template]
            </div>
            <div>
                <b>Append</b> : [Template] ==> [Files] + [Source] + [Parameter] ==> [Template]
            </div>
            <div>
                <b>Edit</b> : [Template] ==> [Template]
            </div>
            <div>
                <b>Test Template</b> : [Template] ==> [Source]
            </div>
        </section>

        <section>
            <header>
                <h2>Template Information Regist</h2>
            </header>

            <div>
                <label for="type">Type
                    <details name="type" role="list">
                        <summary aria-haspopup="listbox">Form</summary>
                        <ul role="listbox">
                            <li><a>Form</a></li>
                            <li><a>Batch</a></li>
                            <li><a>Interface</a></li>
                        </ul>
                    </details>
                </label>

                <label for="firstname">
                    Title
                    <div class="grid">
                        <input type="text" id="firstname" name="firstname" required>
                    </div>
                </label>

                <label for="target">
                    Description
                    <textarea rows="6"></textarea>
                </label>
            </div>

            <footer>
                <div class="grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <button class="secondary">
                        Start >></button>
                </div>
            </footer>
        </section>

        <section>
            <header>
                <h2>Source List</h2>
            </header>
            <table>
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" id="terms" name="terms"></th>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><input type="checkbox" id="terms" name="terms"></th>
                        <th scope="row">1</th>
                        <td><a href="#">/src/sample-test/SampleTestFile-01.js</a></td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" id="terms" name="terms"></th>
                        <th scope="row">2</th>
                        <td><a href="#">/src/sample-test/SampleTestFile-02.js</a></td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" id="terms" name="terms"></th>
                        <th scope="row">3</th>
                        <td><a href="#">/src/sample-test/SampleTestFile.css</a></td>
                    </tr>
                </tbody>
            </table>

            <footer>
                <div class="grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <button data-tooltip="목록에 추가">Append</button>
                    <button class="secondary">NEXT >></button>
                </div>
            </footer>
        </section>


        <section>
            <header>
                <h2>Source 🤔</h2>
            </header>

            <div>
                <label for="source">
                    <input type="file" name="source">
                </label>

                <label for="file">
                    <input type="text" name="file" value="/src/sample-test/SampleTestFile.js">
                </label>
                <textarea rows="10">// Title : Sample Test
function sampleAlert(msg) {
    alert("Test Alert Message");
}</textarea>
            </div>
            <footer>
                <div class="grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <button>Append</button>
                    <button class="secondary">
                        << Cancel</button>
                </div>
            </footer>
        </section>


        <section>
            <header>
                <h2>Parameter List</h2>
            </header>
            <table>
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" id="terms" name="terms"></th>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Target</th>
                        <th scope="col">ID</th>
                        <th scope="col">Target</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><input type="checkbox" id="terms" name="terms"></th>
                        <th scope="row">1</th>
                        <td>Normal</td>
                        <td>All</td>
                        <td><a href="#">mainKey</a></td>
                        <td>SampleTest</td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" id="terms" name="terms"></th>
                        <th scope="row">2</th>
                        <td>Normal</td>
                        <td>File</td>
                        <td><a href="#">title</a></td>
                        <td>Sample Test</td>
                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" id="terms" name="terms"></th>
                        <th scope="row">3</th>
                        <td>Normal</td>
                        <td>Source</td>
                        <td><a href="#">message</a></td>
                        <td>Test Alert Message</td>
                    </tr>
                </tbody>
            </table>

            <footer>
                <div class="grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <button data-tooltip="목록에 추가">Append</button>
                    <button class="secondary">Convert >></button>
                </div>
            </footer>
        </section>

        <section>
            <header>
                <h2>Parameter</h2>
            </header>

            <div>
                <div class="grid">
                    <label for="type">Type
                        <details name="type" role="list">
                            <summary aria-haspopup="listbox">Normal</summary>
                            <ul role="listbox">
                                <li><a>Normal</a></li>
                                <li><a>Foramt</a></li>
                            </ul>
                        </details>
                    </label>

                    <label for="type">Target
                        <details name="type" role="list">
                            <summary aria-haspopup="listbox">All (File + Source)</summary>
                            <ul role="listbox">
                                <li><a>All (File + Source)</a></li>
                                <li><a>File</a></li>
                                <li><a>Source</a></li>
                            </ul>
                        </details>
                    </label>
                </div>
                <label for="firstname">
                    ID (Unique)
                    <div class="grid">
                        <input type="text" id="firstname" name="firstname" required>
                    </div>
                </label>

                <label for="target">
                    Target
                    <input type="text" id="lastname" name="lastname" required>
                </label>
            </div>

            <footer>
                <div class="grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <button>Append</button>
                    <button class="secondary">
                        << Cancel</button>
                </div>
            </footer>
        </section>


        <section>
            <header>
                <h2>Template List</h2>
            </header>
            <table>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="#">/src/sample-test/SampleTestFile-01.js</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a href="#">/src/sample-test/SampleTestFile-02.js</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><a href="#">/src/sample-test/SampleTestFile.css</a></td>
                    </tr>
                </tbody>
            </table>

            <footer>
                <div class="grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <button class="secondary">
                        Complete >></button>
            </footer>
        </section>


        <section>
            <header>
                <h2>Template</h2>
            </header>

            <div>
                <label for="file">
                    <input type="text" name="file" value="/src/sample-test/SampleTestFile.js">
                </label>
                <textarea rows="10">// Title : Sample Test
function sampleAlert(msg) {
    alert("Test Alert Message");
}</textarea>
            </div>
            <footer>
                <div class="grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <button class="secondary">
                        << Close</button>
                </div>
            </footer>
        </section>

        <section>
            <button>Complete</button>
        </section>
        <!-- // Page -->
    </div>
</body>
<script>
    includeHTML();
</script>

</html>