<html data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pico.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="/js/frame.js"></script>
</head>

<body>
    <div class="container">
        <div include-html="/page/frame/header.html"></div>
        <hr />
        <!-- Page -->
        <h1>Template</h1>
        <section>
            <div class="grid">
                <button class="secondary outline"><a href="/page/template/template_new.html">New</a></button>
                <button class=" secondary outline"><a href="/page/template/template_append.html">Append</a></button>
                <button class="secondary outline"><a href="/page/template/template_edit.html">Edit</a></button>
                <button class="secondary outline"><a href="/page/template/template_create_source.html">Create
                        Source</a></button>
            </div>
        </section>

        <!-- // Page -->
    </div>
</body>
<script>
    includeHTML();
</script>

</html>